@import 'pages/shop';
@import 'pages/game';
@import 'pages/matrix';
@import 'pages/calendar';
@import 'base/base';


body {
	margin: 0 auto;
	position: relative;
}
* {
	color: $color-text;
	font-family: $font-main;
}
a {
	color: $color-text;
}
#left-block {
	width: 20%;
	background-color: $color-white;
	position: fixed;
    box-shadow: 0px 0px 10px 1px #000000;
	top: 0;
	bottom: 0;
	left: 0;
}
#content {
	width: 100%;
	background-color: $color-white;
	overflow: hidden;
	height: auto;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
.clean {
	clear: both;
}
.nav {
	text-align: center;	
	
}
.nav-item:not(:nth-child(2)) {
	min-height: 40px;
	line-height: 237%;
}
.nav-item {
	border-bottom: 1px solid;
	margin: 0 14%;
}
.nav-link {
	font-family: $font-decor;
}
.nav-link:focus {
	outline: none;
}
.nav-categories .nav-item:nth-child(1):hover .nav-link,
.nav-categories .nav-item:nth-child(1) .nav-link.active,
.nav-categories .nav-item:nth-child(1) .nav-link:focus {
	color: $color-matrix;
}
.nav-categories .nav-item:nth-child(2):hover .nav-link,
.nav-categories .nav-item:nth-child(2) .nav-link.active,
.nav-categories .nav-item:nth-child(2) .nav-link:focus {
	color: $color-games;
}
.nav-categories .nav-item:nth-child(3):hover .nav-link, 
.nav-categories .nav-item:nth-child(3) .nav-link.active,
.nav-categories .nav-item:nth-child(3) .nav-link:focus {
	color: $color-yoga;
}
.nav-categories .nav-item:nth-child(4):hover .nav-link,
.nav-categories .nav-item:nth-child(4) .nav-link.active,
.nav-categories .nav-item:nth-child(4) .nav-link:focus {
	color: $color-aboutus;
}
.nav-categories .nav-item:nth-child(5):hover .nav-link,
.nav-categories .nav-item:nth-child(5) .nav-link.active,
.nav-categories .nav-item:nth-child(5) .nav-link:focus {
	color: $color-shop;
}
.nav-categories .nav-item:nth-child(6):hover .nav-link,
.nav-categories .nav-item:nth-child(6) .nav-link.active,
.nav-categories .nav-item:nth-child(6) .nav-link:focus {
	color: $color-calendar;
}
.nav-item:nth-child(1) {
	border-bottom-color: $color-matrix;
}
.nav-item:nth-child(2)  {
	border-bottom-color: $color-games;
}
.nav-item:nth-child(3) {
	border-bottom-color: $color-yoga;
}
.nav-item:nth-child(4) {
	border-bottom-color: $color-aboutus;
}
.nav-item:nth-child(5) {
	border-bottom-color: $color-shop;
}
.nav-item:nth-child(6) {
	border-bottom-color: $color-calendar;
}
#logo {
	margin: 5px;
}
#logo span {
	float: right;
	font-size: 17pt;
	width: 52%;
	color: $color-logo;
	font-weight: bolder;
	line-height: 20pt;
	margin: 8% auto;
	font-family: $font-decor;
}
#logo img {
	width: 42%;
	margin-right: 7px;
}
.secondary-logo {
	width: 20% !important;

}
.secondary-top {
	width: 100% !important;
	margin-left: 0% !important;
}
.secondary-foot {
	padding-left: 0% !important;
}
.fix-top {
	width: 80%;
	background-color: #fff;
	box-shadow: 12px 0px 10px 1px #000000;
	height: 5px;
	position: fixed;
	margin-left: 20%;
}
#matrix, #game, #yoga, #shop, footer, .bunner3 {
	padding-left: 20%;
}
.bunner1 {
	background: url(../img/bunner/fon1.png) 50% 0% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	height: 514px;
	background-attachment: fixed;
}
.wave {
	position: relative;
	top: -68px;
}
.wave svg {
	width: 100%;
}
.st0 {
	fill:#FFFFFF;
}
.matrix-block, .game-block, .yoga-block, .shop-block {
	background-color: $color-white;
	position: relative;
}
#left-block, .fix-top {
	z-index: 999;
}
.game-block span {
	padding-top: 25px;
}
.block-header {
	font-family: $font-decor !important;
	font-size: 20pt;
	margin-bottom: 20px;
	display: block;
	text-align: center;
}
.matrix-block span  {
	@extend .block-header;
	color: $color-matrix;
	margin-top: -65px;
}
.mtx-header span {
	color: $color-matrix;
	font-family: $font-decor !important;
}
.game-header span {
	color: $color-games;
	font-family: $font-decor !important;
}
.shop-header span {
	color: $color-shop;
	font-family: $font-decor !important;
}
.mtx-header {
	font-family: $font-decor !important;
	float: right;
	position: absolute;
	top: 30px;
	right: 30px;
}
.mtx-header .matrix-path {
	margin: 11px auto;
	background-size: 100%;
	width: 300px;
}

.game-block span {
	@extend .block-header;
	color: $color-games;
}
.yoga-block span {
	@extend .block-header;
	color: $color-yoga;
}
.aboutus-block span {
	@extend .block-header;
	color: $color-aboutus;
}
.shop-block span {
	@extend .block-header;
	color: $color-shop;
}
.matrix-block p, .game-block p, .yoga-block p, .shop-block p  {
	margin: 0 5% 23px;
	text-align: center;
	font-family: $font-main;
}
.btn-primary {
	color: $color-text;
	background-color: $color-white;
	border-color: #e1e1e1;
	margin: 28px 35%;
	display: block;
	border-radius: 0px;
}
.bgc-btn {
	background-color: $color-white;
}
.outline-btn {
	outline: none;
}
.btn {
	font-family: $font-decor;
}
.btn-matrix:hover {
	color:$color-matrix;
	border-color: $color-matrix;
	@extend .bgc-btn;
}
.btn-game:hover {
	color:$color-games;
	border-color: $color-games;
	@extend .bgc-btn;
}		
.btn-matrix:focus {
	color:$color-matrix;
	border-color: $color-matrix;
	@extend .bgc-btn;
	@extend .outline-btn;
}
.btn-game:focus {
	color:$color-games;
	border-color: $color-games;
	@extend .bgc-btn;
	@extend .outline-btn;
}
.btn-yoga:hover {
	color:$color-yoga;
	border-color: $color-yoga;
	@extend .bgc-btn;
}	
.btn-yoga:focus {
	color:$color-yoga;
	border-color: $color-yoga;
	@extend .bgc-btn;
	@extend .outline-btn;
}
.btn-shop:hover {
	color:$color-shop;
	border-color: $color-shop;
	@extend .bgc-btn;
}	
.btn-shop:focus {
	color:$color-shop;
	border-color: $color-shop;
	@extend .bgc-btn;
	@extend .outline-btn;
}
.matrix-road {
	background: url(../img/matrix.png) 0 50% no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 80%;
	height: 512px;
	margin: 0 auto;
}
.matrix-path {
	background: url(../img/matrix-path.png) 50% no-repeat;
	-webkit-background-size: 90%;
	background-size: 90%;
	width: 90%;
	height: 20px;
	margin: 32px auto 0;
}
.game-block {
	box-shadow: 0px 11px 6px -7px #231F1F;
}
.game {
	background: url(../img/game.png) 50% no-repeat;
	-webkit-background-size: 90%;
	background-size: 90%;
	width: 100%;
	height: 283px;
	margin: -35px auto;
}
.game-path {
	background: url(../img/game-path.png) 50% 9% no-repeat;
	-webkit-background-size: 90%;
	background-size: 90%;
	width: 100%;
	height: 190px;
	margin: -87px auto;
	
}
/*.wave2 {
	position: relative;
	top: -90px;
	z-index: 1
}*/
.bunner2 {
	width: 100%;
	background: url(../img/bunner/fon2.png) 50% 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 800px;
	background-attachment: fixed;
}
.wave3 {
	position: relative;
	top: -75px;
}
.wave4 {
	position: relative;
	top: 44px;
	left: 1px;
}
.yoga-block span {
	margin-top: -60px;
}
.yoga-path {
	background: url(../img/yoga-path.png)  50% 50% no-repeat;
	width: 100%;
	height: 54px;
	-webkit-background-size: 90%;
	background-size: 90%;
	margin: 0 auto;
}
.youtube-video {
	text-align: center;
}
.bunner3 {
	width: 100%;
	background: url(../img/bunner/fon3.png) 50% 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 750px;
	background-attachment: fixed;
}
.aboutus-block {
	width: 100%;
	height: 300px;
	background-color: rgba(255,255,255, .8);
	position: relative;
	top: 32%;
}
.aboutus-block p {
	font-family: $font-main;
	font-size: 15pt;
	font-style: italic;
	text-align: center;
	margin: 0 10%;
}
.aboutus-block span {
	padding-top: 15px;
}
.greenleft {
	background: url(../img/greenleft-abus.png) 50% no-repeat;
	height: 88%;
	width: 5%;
	position: absolute;
	top: 16px;
	background-size: contain;
	left: 21px;
}
.greenright {
	background: url(../img/greenright-abus.png) 50% no-repeat;
	height: 88%;
	width: 5%;
	background-size: contain;
	right: 21px;
	position: absolute;
	top: 16px;
}
.shop-block {
	box-shadow: -11px -18px 7px -15px #231F1F;
}
.shop-block span {
	margin-bottom: 0px;
	line-height: 50pt;
}
.carousel {
	height: 250px;
	margin: 0 2%;
	background-color: $color-white;
	/*box-shadow: 0px 7px 14px -10px $color-shop;*/
}
.carousel-control .icon-prev::before {
	content: url(../img/left-arrow.png);
}
.carousel-control .icon-next::before {
	content: url(../img/right-arrow.png);
}
.carousel-item div {
	width: calc(25% - 4px);
	margin: 2px;
	float: left;
	height: 246px;
}
.carousel-control.left {
    width: 10%;
}
.carousel-control.right {
    width: 11%;
    }
#product1 {
	background: url(../img/shop/product1.jpg) no-repeat;
	-ms-background-position-x: 50%;
	background-position-x: 50%;
	-ms-background-position-y: 50%;
	background-position-y: 50%;
	background-color: $color-white;
	-webkit-background-size: contain;
	background-size: contain;
}
#product2 {
	background: url(../img/shop/product2.jpg) 50% 50% $color-white no-repeat;
	-ms-background-position-x: 50%;
	background-position-x: 50%;
	-ms-background-position-y: 50%;
	background-position-y: 50%;
	background-color: $color-white;
	-webkit-background-size: contain;
	background-size: contain;
}
#product3 {
	background: url(../img/shop/product3.jpg) 50% 50% $color-white no-repeat;
	-ms-background-position-x: 50%;
	background-position-x: 50%;
	-ms-background-position-y: 50%;
	background-position-y: 50%;
	background-color: $color-white;
	-webkit-background-size: contain;
	background-size: contain;
}
#product4 {
	background: url(../img/shop/product4.jpg) 50% 50% $color-white no-repeat;
	-ms-background-position-x: 50%;
	background-position-x: 50%;
	-ms-background-position-y: 50%;
	background-position-y: 50%;
	background-color: $color-white;
	-webkit-background-size: contain;
	background-size: contain;
}
.shop-path {
	background: url(../img/shop-path.png) 50% no-repeat;
	-webkit-background-size: 34%;
	background-size: 34%;
	width: 100%;
	height: 20px;
	margin: -20px auto 28px;
}
footer {
	width: 100%;
	text-align: center;
}
small {
	line-height: 50pt;
	font-family: $font-decor;
}
.calendar {
	margin: 16px 4%;
}
.hidden-animation {
	opacity:0;
}
.visible-animation {
	opacity:1;
}
#load {
	display: none;
	position: absolute;
	left: 50%;
	top: 50px;
	background: url(../img/loader.gif);
	width: 50px;
	height: 50px;
	text-indent: -9999em;
}
#fix-nav {
	position: fixed;
	margin: 0;
	padding: 0;
	left: 0;
	list-style: none;
	z-index: 9999; 
}
#fix-nav li {
	width: 10px;
	
}
#fix-nav li a {
	display: block;
	margin-left: -200px;
	font-family: $font-decor;
	width: 210px;
	color: $color-white;
	height: 40px;
	background-repeat:no-repeat;
	background-position:center center;
	line-height: 28pt;
	text-align: center;
	&:hover {
		text-decoration: none;
	}
}
#fix-nav li:nth-child(2) a {
	line-height: 15pt !important;
}
#fix-nav li:nth-child(1), #fix-nav li:nth-child(1) a {
	background-color: $color-matrix;
}
#fix-nav li:nth-child(2), #fix-nav li:nth-child(2) a {
	background-color: $color-games;
}
#fix-nav li:nth-child(3), #fix-nav li:nth-child(3) a {
	background-color: $color-yoga;
}
#fix-nav li:nth-child(4), #fix-nav li:nth-child(4) a {
	background-color: $color-aboutus;
}
#fix-nav li:nth-child(5), #fix-nav li:nth-child(5) a {
	background-color: $color-shop;
}
#fix-nav li:nth-child(6), #fix-nav li:nth-child(6) a {
	background-color: $color-calendar;
}
.matrix-tab {
	width: 90%;
	margin: 45px auto;
}
.mtx-item {
	border-bottom: none;
	line-height: normal !important;
	margin: 0;
}
.mtx-link:hover {
	color: $color-matrix !important;
}
.nav-tabs {
	border-bottom: 1px solid $color-matrix;
}
.nav-tabs .mtx-item.open .mtx-link:focus,
.nav-tabs .mtx-item.open .mtx-link:hover,
.nav-tabs .mtx-link.active,
.nav-tabs .mtx-link.active:focus,
.nav-tabs .mtx-link.active:hover, 
.nav-tabs .mtx-item:hover
.nav-tabs .mtx-link.active {
	color: $color-matrix;
	border-color: $color-matrix $color-matrix transparent;
}
.nav-tabs .mtx-link {
	border-top-right-radius: 32px;
	border-top-left-radius: 32px;
}
#icons {
	text-align: center;
}
#icons-vert {
	position: fixed;
	bottom: 40%;
	left: -5px;
	z-index: 998;
}
#mobile-menu {
	display: none;
}

@media (max-width: 1024px) {

	.bunner1 {
		height: 350px ;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.wave {
		top: -61px;
	}
	.btn-primary {
		margin: 28px 33%;
	}

	#logo span {
		font-size: 16pt;
		line-height: 16pt;
		margin: 13px auto;
	}
	#logo img {
		width: 75px;
	}
	.nav-categories .nav-item {
		font-size: 11pt;

	}
	.block-header,
	.matrix-block span,
	.game-block span,
	.yoga-block span,
	.aboutus-block span,
	.shop-block span {
		font-size: 16pt;
	}
	.matrix-road {
		height: 322px;
		
	}
	.aboutus-block p {
		font-size: 12pt;
	}

 
}

@media (max-width: 960px) {
	#logo span {
		font-size: 13pt;
		line-height: 13pt;
		margin: 13px auto;
	}
	#logo img {
    	width: 60px;
	}

}

@media (max-width: 768px) {

	#left-block, .fix-top {
		display: none;
	}
	#matrix, #game, #yoga, #shop, footer, .bunner3 {
    	padding-left: 0%;
	}
	#mobile-menu {
		display: block;
		min-height: 75px;
	}
	#mobile-menu #logo {
		height: 57px;
		width: 19%;
		margin: 5px 0 5px 5px;
		float: left;
	}
	#logo img {
    	width: 60px;
	}
	#logo span {
    	display: none;
	}
	.wave {
    	display: none;
	}
	.matrix-block span {
		margin-top: 23px;
	}
	#mobile-menu-open {
    	display: block;
    	width: 50px;
    	height: 50px;
    	transition: all 1s;
    	position: relative;
    	float: right;
    	margin: 9px 26px 0 0;
    	outline: none;
	}
	#mobile-menu-open span {
    	border: 2px solid $color-text;
    	width: 35px;
    	left: 12px;
    	display: block;
    	position: absolute;
    	transition: all .8s;
	}
	#mobile-menu-open span.top-line {
    	top: 16px;
	}
	#mobile-menu-open span.one, #mobile-menu-open span.two {
    	top: 27px;
	}
	#mobile-menu-open span.bottom-line {
    	top: 39px;
	}
	#mobile-menu-open.active .top-line {
    	-webkit-transform: translate(0, -8px);
    	transform: translate(0, -8px);
    	-moz-transform: translate(0, -8px);
    	opacity: 0;
	}
	#mobile-menu-open.active .one {
    	transform: rotate(46deg);
    	-moz-transform: rotate(46deg);
    	-webkit-transform: rotate(46deg);
	}
	#mobile-menu-open.active .two {
    	-webkit-transform: rotate(-46deg);
    	transform: rotate(-46deg);
    	-moz-transform: rotate(-46deg);
	}
	#mobile-menu-open.active .bottom-line {
    	-webkit-transform: translate(0, 8px);
    	transform: translate(0, 8px);
    	-moz-transform: translate(0, 8px);
    	opacity: 0;
	}
	#mobile-menu .menu-nav-mobile {
		display: none;
		padding: 60px;
	}
	.bunner1 {
    	height: 0px;
	}
	#mobile-menu.open .menu-nav-mobile {
		display: block;
	}
	.matrix-block p, .game-block p, .yoga-block p, .shop-block p {
    	font-size: 11pt;
	}
	.btn-primary {
   		margin: 22px 23%;
   		font-size: 11pt;
	}
	.block-header, .matrix-block span,
	.game-block span, .yoga-block span,
	.aboutus-block span, .shop-block span,
	.matrix-block span, .game-block span,
	.yoga-block span, .aboutus-block span,
	.shop-block span {
    	font-size: 14pt;
	}
		.mtx-header .matrix-path, .shop-header .shop-path {
    	margin: 4px auto;
    	background-size: 91%;
    	width: 215px;
	}
	small {
		line-height: 20pt;
		font-size: 70%;
	}
	.nav-item {
    	min-height: 40px;
   	 	line-height: 237%;
	}



	

}
@media (max-width: 647px) {
	#blocks-carousel {
    	width: 90%;
	}
	.carousel-control.right {
    	width: 13%;
	}

}
@media (max-width: 360px) {
	.carousel-control.right {
    	width: 24%;
	}
	.btn-primary {
    	margin: 22px 21%;
    }
    .bunner2, .wave3, .wave4, .shop-path {
    	display: none;
    }
    .matrix-road {
    	height: 178px;
	}
	.matrix-path {
    margin: 12px auto 0;
    }
    .game {
    	height: 173px;
	}
	.game-path {
    	height: 180px;
   		margin: -86px auto;
	}
	.btn-primary {
    	font-size: 10pt;
	}
	.youtube-video video {
		width: 100%;
	}
	.matrix-block p, .game-block p, .yoga-block p, .shop-block p,
	.aboutus-block p {
    	font-size: 10pt;
	}
	.aboutus-block {
    	top: 4%;
	}
	.bunner3 {
		height: 330px;
	}
}
