@charset "UTF-8";
.product-card {
  width: calc(100% - 10px);
  min-height: 200px;
  margin: 0 5px; }

.product-card > div {
  width: calc(25% - 8px);
  margin: 0 4px;
  float: left;
  background-color: white;
  cursor: pointer; }

.product-card div img {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  padding: 4%;
  border: 1px solid #e1e1e1; }

.btn-product {
  width: 100%;
  border-radius: 0px;
  border: 1px solid #e1e1e1;
  float: left;
  margin: 8px 0;
  padding-top: 10px;
  padding-bottom: 10px; }

.sign-product {
  position: absolute;
  font-family: "Segoe Print";
  bottom: 60px;
  width: 98%;
  background-color: white;
  color: #333333;
  margin: 0 1%;
  text-align: center; }

.sign-product h6 {
  font-size: 8pt; }

.sign-product h5 {
  color: #3a53a4;
  padding-top: 3px; }

.table td, .table td b {
  font-family: "Segoe Print" !important;
  border: none;
  padding: 2px; }

.shop-header {
  font-family: "Segoe Print" !important;
  float: right;
  position: absolute;
  top: 30px;
  right: 30px; }

.shop-header .shop-path {
  margin: 11px auto;
  background-size: 100%;
  width: 300px; }

@media (max-width: 1024px) {
  .product-card div img {
    height: 200px; }

  .sign-product h5 {
    font-size: 10pt; }

  .sign-product h6 {
    font-size: 7pt; }

  .sign-product .table td {
    font-size: 9pt; }

  .btn-product {
    font-size: 11pt; }

  .shop-header {
    top: 19px;
    right: 0px; }

  .shop-header .shop-path {
    margin: 1px auto;
    width: 257px; } }
@media (max-width: 768px) {
  #mobile-menu + .shop-header {
    position: relative;
    top: 0;
    right: 0;
    float: none; }

  .btn-product {
    font-size: 10pt; } }
@media (max-width: 647px) {
  .product-card > div {
    width: calc(50% - 8px); }

  .product-card div img {
    height: 270px; } }
@media (max-width: 360px) {
  .product-card > div {
    width: calc(100% - 8px); }

  .product-card div img {
    height: 300px; } }
.panel-title a {
  font-family: "Segoe Print"; }

#bubbles-img + #accordion .panel-title a:hover,
.panel-title a:focus {
  color: #FF7F00 !important; }

#accordion, .btn-game {
  position: relative;
  z-index: 1; }

#bubbles-img {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: 0; }

#bubbles-img img {
  position: relative; }

#bubbles-img img:nth-child(1) {
  top: 0%;
  left: 2%; }

#bubbles-img img:nth-child(2) {
  top: 0%;
  right: -68%; }

#bubbles-img img:nth-child(3) {
  top: 33%;
  left: -27%; }

#bubbles-img img:nth-child(4) {
  top: 33%;
  right: -46%; }

#bubbles-img img:nth-child(5) {
  top: 30%;
  left: -35%; }

#bubbles-img img:nth-child(6) {
  top: 30%;
  right: -15%; }

#bubbles-img img:nth-child(7) {
  top: 57%;
  left: -62%; }

#bubbles-img img:nth-child(8) {
  top: 57%;
  right: -8%; }

#bubbles-img img:nth-child(9) {
  top: 55%;
  left: -67%; }

#bubbles-img img:nth-child(10) {
  top: 55%;
  right: 12%; }

#bubbles-img img:nth-child(11) {
  top: 69%;
  right: 12%; }

#bubbles-img img:nth-child(12) {
  top: 46%;
  left: 15%; }

#bubbles-img img:nth-child(13) {
  top: 53%;
  left: 15%; }

#bubbles-img img:nth-child(14) {
  top: 45%;
  left: 14%; }

#bubbles-img img:nth-child(15) {
  top: 45%;
  right: -70%; }

#bubbles-img img:nth-child(16) {
  top: 53%;
  right: -68%; }

.game-panel-heading h4 a:hover,
.game-panel-heading h4 a:active,
.game-panel-heading h4 a:focus {
  color: #FF7F00;
  text-decoration: none;
  outline: none; }

.game-path-btn, .game-header .game-path {
  width: 35%;
  background: url(../img/game-path2.png) no-repeat;
  margin: 11px auto;
  background-size: 100%;
  height: 20px; }

.game-header .game-path {
  width: 97%; }

.btn-game:hover {
  color: #FF7F00; }

.game-header {
  font-family: "Segoe Print" !important;
  float: right;
  position: absolute;
  top: 30px;
  right: 30px; }

@media (max-width: 1024px) {
  .game-header {
    top: 16px; } }
@media (max-width: 768px) {
  #bubbles-img img {
    display: none; }

  #mobile-menu + .game-header {
    position: relative;
    top: 0;
    right: 0;
    float: none; }

  .game-header .game-path {
    width: 43%; }

  .game-path-btn {
    width: 49%; } }
@media (max-width: 647px) {
  .game-header .game-path {
    width: 60%; } }
@media (max-width: 360px) {
  .game-path-btn, .game-header .game-path {
    display: none; } }
.fon-trg {
  position: relative; }

.fon-trg:nth-child(2) {
  background: url(../img/bunner/fon-mtx1.jpg) no-repeat;
  opacity: .3;
  width: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 500px; }

.fon-trg:nth-child(3) {
  background: url(../img/bunner/fon-mtx2.jpg) no-repeat;
  opacity: .3;
  width: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 500px; }

.fon-trg:nth-child(4) {
  background: url(../img/bunner/fon-mtx3.jpg) no-repeat;
  opacity: .3;
  width: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 500px; }

.matrix-path-trg {
  background: url(../img/matrix-path.png) 50% no-repeat;
  -webkit-background-size: 90%;
  background-size: 90%;
  height: 20px;
  width: 50%;
  -moz-transform: rotate(180deg);
  /* ╨Ф╨╗╤П Firefox */
  -webkit-transform: rotate(180deg);
  /* ╨Ф╨╗╤П Safari, Chrome, iOS */
  transform: rotate(180deg);
  margin: -16px auto 12px; }

.stickers span {
  font-family: "HelveticaNeueCyr";
  text-align: center;
  margin: 10px auto 10px;
  display: block; }

.stickers div {
  position: absolute;
  margin: 20px;
  padding: 10px 5px;
  background: #fff;
  z-index: 1;
  width: 30%;
  font-family: "Segoe Print";
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset; }

.stickers div:nth-child(3) {
  top: 11%;
  right: 10%;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg); }

.stickers div:nth-child(4) {
  top: 36%;
  left: 6%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.stickers div:nth-child(5) {
  top: 33%;
  right: 22%;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg); }

.stickers div:nth-child(6) {
  top: 69%;
  left: 6%;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg); }

.stickers div:nth-child(7) {
  top: 52%;
  right: 6%;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg); }

.stickers div:nth-child(8) {
  top: 56%;
  left: 8%;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg); }

.stickers div:nth-child(9) {
  top: 64%;
  right: 10%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.stickers div:nth-child(10) {
  top: 86%;
  left: 27%; }

.stickers div h6 {
  color: #FF0000 !important;
  text-align: center; }

.stickers div p {
  font-size: 10pt;
  font-family: "Segoe Print"; }

.modal-content {
  background-color: #3953a4;
  border-radius: 0;
  border: 1px solid #fff; }

.mtx-input {
  width: 100%; }

.mtx-input input {
  margin-top: 12px; }

.mtx-btn {
  margin: 10px auto;
  width: 100%; }

.mtx-btn button {
  margin: 6px auto; }
  .mtx-btn button:hover {
    color: #3953a4;
    background: #fff; }
  .mtx-btn button:focus {
    color: #3953a4;
    background: #fff; }

#blocks-carousel {
  width: 65%;
  margin: 20px auto;
  height: 50%; }

#blocks-carousel .carousel-control {
  background-image: -webkit-linear-gradient(left, transparent 0%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0%, transparent 100%);
  background-image: linear-gradient(to right, transparent 0%, transparent 100%);
  background-repeat: repeat-x; }

#collapseOne p, #collapseTwo p,
#collapseThree p, #collapseFour p,
#collapseFive p, #collapseSix p,
#collapseSeven p, #collapseEight p {
  text-align: center;
  font-family: "HelveticaNeueCyr";
  margin: 0 15%; }

.panel-heading {
  text-align: center;
  margin-top: 15px; }

#trips #accordion .panel .panel-heading h4 a:hover,
#trips #accordion .panel .panel-heading h4 a:active,
#trips #accordion .panel .panel-heading h4 a:focus,
#stress #accordion .panel .panel-heading h4 a:hover,
#stress #accordion .panel .panel-heading h4 a:active,
#stress #accordion .panel .panel-heading h4 a:focus {
  color: #FF0000 !important;
  outline: none;
  text-decoration: none; }

.panel-heading h4 {
  font-size: 14pt; }

#trips #accordion h4 a:hover,
.panel-title a:focus {
  color: #FF0000; }

.btn-matrix:hover {
  color: #FF0000; }

.mtx-header {
  font-family: "Segoe Print" !important;
  float: right;
  position: absolute;
  top: 30px;
  right: 30px; }

@media (max-width: 1024px) {
  .stickers div {
    width: 40%; }

  h6 {
    font-size: 11pt; }

  .stickers div p {
    font-size: 9pt; }

  .stickers div:nth-child(5) {
    right: 7%; }

  .stickers div:nth-child(9) {
    top: 63%;
    right: 5%; }

  .stickers div:nth-child(10) {
    top: 85%;
    left: 43%; }

  .panel-heading h4 {
    font-size: 13pt; } }
@media (max-width: 768px) {
  .secondary-logo, #fix-nav {
    display: none; }

  .stickers div {
    width: 80%; }

  .stickers div:nth-child(2) {
    top: 13%; }

  .stickers div:nth-child(3) {
    top: 20%;
    left: 10%; }

  .stickers div:nth-child(4) {
    top: 30%; }

  .stickers div:nth-child(5) {
    top: 41%;
    left: 10%; }

  .stickers div:nth-child(6) {
    top: 50%; }

  .stickers div:nth-child(7) {
    top: 59%;
    left: 10%; }

  .stickers div:nth-child(8) {
    top: 64%; }

  .stickers div:nth-child(9) {
    top: 68%;
    left: 10%; }

  .stickers div:nth-child(10) {
    top: 87%;
    left: 9%; }

  #mobile-menu + .mtx-header {
    position: relative;
    top: 0;
    right: 0;
    float: none; }

  .fon-trg {
    display: none; }

  .stickers, .stickers div {
    position: relative; }

  small {
    font-size: 70%; }

  .block-header, .matrix-block span, .game-block span, .yoga-block span, .aboutus-block span, .shop-block span,
  #collapseOne p,
  #collapseTwo p,
  #collapseThree p,
  #collapseFour p,
  #collapseFive p,
  #collapseSix p,
  #collapseSeven p,
  #collapseEight p,
  #collapseOneStress p,
  #collapseTwoStress p,
  #collapseThreeStress p,
  #collapseFourStress p,
  #collapseFiveStress p,
  #collapseSixStress p,
  #collapseSevenStress p,
  #collapseEightStress p
  .stickers span {
    font-size: 11pt;
    margin: 0 5%; }

  .matrix-path-trg {
    width: 83%; }

  .panel-heading h4 {
    font-size: 12pt; } }
.table {
  float: right;
  width: 80%; }

.table thead th, .table td {
  text-align: center; }

.table thead th:nth-child(1) {
  width: 50%; }

.table thead th:nth-child(2) {
  width: 25%; }

.table td {
  font-size: 11pt; }

.table td a:hover,
.table td a:focus {
  text-decoration: none;
  color: #4B0082;
  outline: none; }

@media (max-width: 1024px) {
  .table thead th img {
    width: 50px; } }
@media (max-width: 768px) {
  .table {
    width: 100%; }

  .table td {
    font-size: 10pt; } }
@media (max-width: 360px) {
  .table thead th img {
    width: 35px; } }
body {
  margin: 0 auto;
  position: relative; }

* {
  color: #333333;
  font-family: "HelveticaNeueCyr"; }

a {
  color: #333333; }

#left-block {
  width: 20%;
  background-color: #fff;
  position: fixed;
  box-shadow: 0px 0px 10px 1px #000000;
  top: 0;
  bottom: 0;
  left: 0; }

#content {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  height: auto; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.clean {
  clear: both; }

.nav {
  text-align: center; }

.nav-item:not(:nth-child(2)) {
  min-height: 40px;
  line-height: 237%; }

.nav-item {
  border-bottom: 1px solid;
  margin: 0 14%; }

.nav-link {
  font-family: "Segoe Print"; }

.nav-link:focus {
  outline: none; }

.nav-categories .nav-item:nth-child(1):hover .nav-link,
.nav-categories .nav-item:nth-child(1) .nav-link.active,
.nav-categories .nav-item:nth-child(1) .nav-link:focus {
  color: #FF0000; }

.nav-categories .nav-item:nth-child(2):hover .nav-link,
.nav-categories .nav-item:nth-child(2) .nav-link.active,
.nav-categories .nav-item:nth-child(2) .nav-link:focus {
  color: #FF7F00; }

.nav-categories .nav-item:nth-child(3):hover .nav-link,
.nav-categories .nav-item:nth-child(3) .nav-link.active,
.nav-categories .nav-item:nth-child(3) .nav-link:focus {
  color: #F6EC13; }

.nav-categories .nav-item:nth-child(4):hover .nav-link,
.nav-categories .nav-item:nth-child(4) .nav-link.active,
.nav-categories .nav-item:nth-child(4) .nav-link:focus {
  color: #68bd45; }

.nav-categories .nav-item:nth-child(5):hover .nav-link,
.nav-categories .nav-item:nth-child(5) .nav-link.active,
.nav-categories .nav-item:nth-child(5) .nav-link:focus {
  color: #3a53a4; }

.nav-categories .nav-item:nth-child(6):hover .nav-link,
.nav-categories .nav-item:nth-child(6) .nav-link.active,
.nav-categories .nav-item:nth-child(6) .nav-link:focus {
  color: #4B0082; }

.nav-item:nth-child(1) {
  border-bottom-color: #FF0000; }

.nav-item:nth-child(2) {
  border-bottom-color: #FF7F00; }

.nav-item:nth-child(3) {
  border-bottom-color: #F6EC13; }

.nav-item:nth-child(4) {
  border-bottom-color: #68bd45; }

.nav-item:nth-child(5) {
  border-bottom-color: #3a53a4; }

.nav-item:nth-child(6) {
  border-bottom-color: #4B0082; }

#logo {
  margin: 5px; }

#logo span {
  float: right;
  font-size: 17pt;
  width: 52%;
  color: #3953a4;
  font-weight: bolder;
  line-height: 20pt;
  margin: 8% auto;
  font-family: "Segoe Print"; }

#logo img {
  width: 42%;
  margin-right: 7px; }

.secondary-logo {
  width: 20% !important; }

.secondary-top {
  width: 100% !important;
  margin-left: 0% !important; }

.secondary-foot {
  padding-left: 0% !important; }

.fix-top {
  width: 80%;
  background-color: #fff;
  box-shadow: 12px 0px 10px 1px #000000;
  height: 5px;
  position: fixed;
  margin-left: 20%; }

#matrix, #game, #yoga, #shop, footer, .bunner3 {
  padding-left: 20%; }

.bunner1 {
  background: url(../img/bunner/fon1.png) 50% 0% no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  height: 514px;
  background-attachment: fixed; }

.wave {
  position: relative;
  top: -68px; }

.wave svg {
  width: 100%; }

.st0 {
  fill: #FFFFFF; }

.matrix-block, .game-block, .yoga-block, .shop-block {
  background-color: #fff;
  position: relative; }

#left-block, .fix-top {
  z-index: 999; }

.game-block span {
  padding-top: 25px; }

.block-header, .matrix-block span, .game-block span, .yoga-block span, .aboutus-block span, .shop-block span {
  font-family: "Segoe Print" !important;
  font-size: 20pt;
  margin-bottom: 20px;
  display: block;
  text-align: center; }

.matrix-block span {
  color: #FF0000;
  margin-top: -65px; }

.mtx-header span {
  color: #FF0000;
  font-family: "Segoe Print" !important; }

.game-header span {
  color: #FF7F00;
  font-family: "Segoe Print" !important; }

.shop-header span {
  color: #3a53a4;
  font-family: "Segoe Print" !important; }

.mtx-header {
  font-family: "Segoe Print" !important;
  float: right;
  position: absolute;
  top: 30px;
  right: 30px; }

.mtx-header .matrix-path {
  margin: 11px auto;
  background-size: 100%;
  width: 300px; }

.game-block span {
  color: #FF7F00; }

.yoga-block span {
  color: #F6EC13; }

.aboutus-block span {
  color: #68bd45; }

.shop-block span {
  color: #3a53a4; }

.matrix-block p, .game-block p, .yoga-block p, .shop-block p {
  margin: 0 5% 23px;
  text-align: center;
  font-family: "HelveticaNeueCyr"; }

.btn-primary {
  color: #333333;
  background-color: #fff;
  border-color: #e1e1e1;
  margin: 28px 35%;
  display: block;
  border-radius: 0px; }

.bgc-btn, .btn-matrix:hover, .btn-game:hover, .btn-matrix:focus, .btn-game:focus, .btn-yoga:hover, .btn-yoga:focus, .btn-shop:hover, .btn-shop:focus {
  background-color: #fff; }

.outline-btn, .btn-matrix:focus, .btn-game:focus, .btn-yoga:focus, .btn-shop:focus {
  outline: none; }

.btn {
  font-family: "Segoe Print"; }

.btn-matrix:hover {
  color: #FF0000;
  border-color: #FF0000; }

.btn-game:hover {
  color: #FF7F00;
  border-color: #FF7F00; }

.btn-matrix:focus {
  color: #FF0000;
  border-color: #FF0000; }

.btn-game:focus {
  color: #FF7F00;
  border-color: #FF7F00; }

.btn-yoga:hover {
  color: #F6EC13;
  border-color: #F6EC13; }

.btn-yoga:focus {
  color: #F6EC13;
  border-color: #F6EC13; }

.btn-shop:hover {
  color: #3a53a4;
  border-color: #3a53a4; }

.btn-shop:focus {
  color: #3a53a4;
  border-color: #3a53a4; }

.matrix-road {
  background: url(../img/matrix.png) 0 50% no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 80%;
  height: 512px;
  margin: 0 auto; }

.matrix-path {
  background: url(../img/matrix-path.png) 50% no-repeat;
  -webkit-background-size: 90%;
  background-size: 90%;
  width: 90%;
  height: 20px;
  margin: 32px auto 0; }

.game-block {
  box-shadow: 0px 11px 6px -7px #231F1F; }

.game {
  background: url(../img/game.png) 50% no-repeat;
  -webkit-background-size: 90%;
  background-size: 90%;
  width: 100%;
  height: 283px;
  margin: -35px auto; }

.game-path {
  background: url(../img/game-path.png) 50% 9% no-repeat;
  -webkit-background-size: 90%;
  background-size: 90%;
  width: 100%;
  height: 190px;
  margin: -87px auto; }

/*.wave2 {
	position: relative;
	top: -90px;
	z-index: 1
}*/
.bunner2 {
  width: 100%;
  background: url(../img/bunner/fon2.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 800px;
  background-attachment: fixed; }

.wave3 {
  position: relative;
  top: -75px; }

.wave4 {
  position: relative;
  top: 44px;
  left: 1px; }

.yoga-block span {
  margin-top: -60px; }

.yoga-path {
  background: url(../img/yoga-path.png) 50% 50% no-repeat;
  width: 100%;
  height: 54px;
  -webkit-background-size: 90%;
  background-size: 90%;
  margin: 0 auto; }

.youtube-video {
  text-align: center; }

.bunner3 {
  width: 100%;
  background: url(../img/bunner/fon3.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 750px;
  background-attachment: fixed; }

.aboutus-block {
  width: 100%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 32%; }

.aboutus-block p {
  font-family: "HelveticaNeueCyr";
  font-size: 15pt;
  font-style: italic;
  text-align: center;
  margin: 0 10%; }

.aboutus-block span {
  padding-top: 15px; }

.greenleft {
  background: url(../img/greenleft-abus.png) 50% no-repeat;
  height: 88%;
  width: 5%;
  position: absolute;
  top: 16px;
  background-size: contain;
  left: 21px; }

.greenright {
  background: url(../img/greenright-abus.png) 50% no-repeat;
  height: 88%;
  width: 5%;
  background-size: contain;
  right: 21px;
  position: absolute;
  top: 16px; }

.shop-block {
  box-shadow: -11px -18px 7px -15px #231F1F; }

.shop-block span {
  margin-bottom: 0px;
  line-height: 50pt; }

.carousel {
  height: 250px;
  margin: 0 2%;
  background-color: #fff;
  /*box-shadow: 0px 7px 14px -10px $color-shop;*/ }

.carousel-control .icon-prev::before {
  content: url(../img/left-arrow.png); }

.carousel-control .icon-next::before {
  content: url(../img/right-arrow.png); }

.carousel-item div {
  width: calc(25% - 4px);
  margin: 2px;
  float: left;
  height: 246px; }

.carousel-control.left {
  width: 10%; }

.carousel-control.right {
  width: 11%; }

#product1 {
  background: url(../img/shop/product1.jpg) no-repeat;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  background-color: #fff;
  -webkit-background-size: contain;
  background-size: contain; }

#product2 {
  background: url(../img/shop/product2.jpg) 50% 50% #fff no-repeat;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  background-color: #fff;
  -webkit-background-size: contain;
  background-size: contain; }

#product3 {
  background: url(../img/shop/product3.jpg) 50% 50% #fff no-repeat;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  background-color: #fff;
  -webkit-background-size: contain;
  background-size: contain; }

#product4 {
  background: url(../img/shop/product4.jpg) 50% 50% #fff no-repeat;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  background-color: #fff;
  -webkit-background-size: contain;
  background-size: contain; }

.shop-path {
  background: url(../img/shop-path.png) 50% no-repeat;
  -webkit-background-size: 34%;
  background-size: 34%;
  width: 100%;
  height: 20px;
  margin: -20px auto 28px; }

footer {
  width: 100%;
  text-align: center; }

small {
  line-height: 50pt;
  font-family: "Segoe Print"; }

.calendar {
  margin: 16px 4%; }

.hidden-animation {
  opacity: 0; }

.visible-animation {
  opacity: 1; }

#load {
  display: none;
  position: absolute;
  left: 50%;
  top: 50px;
  background: url(../img/loader.gif);
  width: 50px;
  height: 50px;
  text-indent: -9999em; }

#fix-nav {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  list-style: none;
  z-index: 9999; }

#fix-nav li {
  width: 10px; }

#fix-nav li a {
  display: block;
  margin-left: -200px;
  font-family: "Segoe Print";
  width: 210px;
  color: #fff;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 28pt;
  text-align: center; }
  #fix-nav li a:hover {
    text-decoration: none; }

#fix-nav li:nth-child(2) a {
  line-height: 15pt !important; }

#fix-nav li:nth-child(1), #fix-nav li:nth-child(1) a {
  background-color: #FF0000; }

#fix-nav li:nth-child(2), #fix-nav li:nth-child(2) a {
  background-color: #FF7F00; }

#fix-nav li:nth-child(3), #fix-nav li:nth-child(3) a {
  background-color: #F6EC13; }

#fix-nav li:nth-child(4), #fix-nav li:nth-child(4) a {
  background-color: #68bd45; }

#fix-nav li:nth-child(5), #fix-nav li:nth-child(5) a {
  background-color: #3a53a4; }

#fix-nav li:nth-child(6), #fix-nav li:nth-child(6) a {
  background-color: #4B0082; }

.matrix-tab {
  width: 90%;
  margin: 45px auto; }

.mtx-item {
  border-bottom: none;
  line-height: normal !important;
  margin: 0; }

.mtx-link:hover {
  color: #FF0000 !important; }

.nav-tabs {
  border-bottom: 1px solid #FF0000; }

.nav-tabs .mtx-item.open .mtx-link:focus,
.nav-tabs .mtx-item.open .mtx-link:hover,
.nav-tabs .mtx-link.active,
.nav-tabs .mtx-link.active:focus,
.nav-tabs .mtx-link.active:hover,
.nav-tabs .mtx-item:hover
.nav-tabs .mtx-link.active {
  color: #FF0000;
  border-color: #FF0000 #FF0000 transparent; }

.nav-tabs .mtx-link {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px; }

#icons {
  text-align: center; }

#icons-vert {
  position: fixed;
  bottom: 40%;
  left: -5px;
  z-index: 998; }

#mobile-menu {
  display: none; }

@media (max-width: 1024px) {
  .bunner1 {
    height: 350px;
    -webkit-background-size: contain;
    background-size: contain; }

  .wave {
    top: -61px; }

  .btn-primary {
    margin: 28px 33%; }

  #logo span {
    font-size: 16pt;
    line-height: 16pt;
    margin: 13px auto; }

  #logo img {
    width: 75px; }

  .nav-categories .nav-item {
    font-size: 11pt; }

  .block-header, .matrix-block span, .game-block span, .yoga-block span, .aboutus-block span, .shop-block span,
  .matrix-block span,
  .game-block span,
  .yoga-block span,
  .aboutus-block span,
  .shop-block span {
    font-size: 16pt; }

  .matrix-road {
    height: 322px; }

  .aboutus-block p {
    font-size: 12pt; } }
@media (max-width: 960px) {
  #logo span {
    font-size: 13pt;
    line-height: 13pt;
    margin: 13px auto; }

  #logo img {
    width: 60px; } }
@media (max-width: 768px) {
  #left-block, .fix-top {
    display: none; }

  #matrix, #game, #yoga, #shop, footer, .bunner3 {
    padding-left: 0%; }

  #mobile-menu {
    display: block;
    min-height: 75px; }

  #mobile-menu #logo {
    height: 57px;
    width: 19%;
    margin: 5px 0 5px 5px;
    float: left; }

  #logo img {
    width: 60px; }

  #logo span {
    display: none; }

  .wave {
    display: none; }

  .matrix-block span {
    margin-top: 23px; }

  #mobile-menu-open {
    display: block;
    width: 50px;
    height: 50px;
    transition: all 1s;
    position: relative;
    float: right;
    margin: 9px 26px 0 0;
    outline: none; }

  #mobile-menu-open span {
    border: 2px solid #333333;
    width: 35px;
    left: 12px;
    display: block;
    position: absolute;
    transition: all .8s; }

  #mobile-menu-open span.top-line {
    top: 16px; }

  #mobile-menu-open span.one, #mobile-menu-open span.two {
    top: 27px; }

  #mobile-menu-open span.bottom-line {
    top: 39px; }

  #mobile-menu-open.active .top-line {
    -webkit-transform: translate(0, -8px);
    transform: translate(0, -8px);
    -moz-transform: translate(0, -8px);
    opacity: 0; }

  #mobile-menu-open.active .one {
    transform: rotate(46deg);
    -moz-transform: rotate(46deg);
    -webkit-transform: rotate(46deg); }

  #mobile-menu-open.active .two {
    -webkit-transform: rotate(-46deg);
    transform: rotate(-46deg);
    -moz-transform: rotate(-46deg); }

  #mobile-menu-open.active .bottom-line {
    -webkit-transform: translate(0, 8px);
    transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    opacity: 0; }

  #mobile-menu .menu-nav-mobile {
    display: none;
    padding: 60px; }

  .bunner1 {
    height: 0px; }

  #mobile-menu.open .menu-nav-mobile {
    display: block; }

  .matrix-block p, .game-block p, .yoga-block p, .shop-block p {
    font-size: 11pt; }

  .btn-primary {
    margin: 22px 23%;
    font-size: 11pt; }

  .block-header, .matrix-block span, .game-block span, .yoga-block span, .aboutus-block span, .shop-block span, .matrix-block span,
  .game-block span, .yoga-block span,
  .aboutus-block span, .shop-block span,
  .matrix-block span, .game-block span,
  .yoga-block span, .aboutus-block span,
  .shop-block span {
    font-size: 14pt; }

  .mtx-header .matrix-path, .shop-header .shop-path {
    margin: 4px auto;
    background-size: 91%;
    width: 215px; }

  small {
    line-height: 20pt;
    font-size: 70%; }

  .nav-item {
    min-height: 40px;
    line-height: 237%; } }
@media (max-width: 647px) {
  #blocks-carousel {
    width: 90%; }

  .carousel-control.right {
    width: 13%; } }
@media (max-width: 360px) {
  .carousel-control.right {
    width: 24%; }

  .btn-primary {
    margin: 22px 21%; }

  .bunner2, .wave3, .wave4, .shop-path {
    display: none; }

  .matrix-road {
    height: 178px; }

  .matrix-path {
    margin: 12px auto 0; }

  .game {
    height: 173px; }

  .game-path {
    height: 180px;
    margin: -86px auto; }

  .btn-primary {
    font-size: 10pt; }

  .youtube-video video {
    width: 100%; }

  .matrix-block p, .game-block p, .yoga-block p, .shop-block p,
  .aboutus-block p {
    font-size: 10pt; }

  .aboutus-block {
    top: 4%; }

  .bunner3 {
    height: 330px; } }

/*# sourceMappingURL=style.css.map */
