@charset "UTF-8";
body {
  margin: 0 auto;
  position: relative; }

* {
  color: #333333;
  font-family: "Segoe Print"; }

a {
  color: #333333; }

#left-block {
  width: 20%;
  background-color: #fff;
  float: left;
  position: fixed;
  height: 100%;
  box-shadow: 0px 0px 10px 1px #000000; }

#content {
  width: 80%;
  float: right;
  background-color: #fff;
  min-height: 1000px; }

.wrapper {
  width: 100%;
  min-width: 1000px;
  margin: 0 auto; }

.clean {
  clear: both; }

.nav {
  text-align: center; }

.nav-item:not(:nth-child(2)) {
  min-height: 40px;
  line-height: 237%; }

.nav-item {
  border-bottom: 1px solid;
  margin: 0 14%; }

.nav-link:focus {
  outline: none; }

.nav .nav-item:nth-child(1):hover .nav-link {
  color: #FF0000; }

.nav .nav-item:nth-child(2):hover .nav-link {
  color: #FF7F00; }

.nav .nav-item:nth-child(3):hover .nav-link {
  color: #F6EC13; }

.nav .nav-item:nth-child(4):hover .nav-link {
  color: #68bd45; }

.nav .nav-item:nth-child(5):hover .nav-link {
  color: #3a53a4; }

.nav .nav-item:nth-child(6):hover .nav-link {
  color: #4B0082; }

.nav-item:nth-child(1) {
  border-bottom-color: #FF0000; }

.nav-item:nth-child(2) {
  border-bottom-color: #FF7F00; }

.nav-item:nth-child(3) {
  border-bottom-color: #F6EC13; }

.nav-item:nth-child(4) {
  border-bottom-color: #68bd45; }

.nav-item:nth-child(5) {
  border-bottom-color: #3a53a4; }

.nav-item:nth-child(6) {
  border-bottom-color: #4B0082; }

#logo {
  background: url(../img/logo.png) no-repeat;
  -webkit-background-size: 34%;
  background-size: 34%;
  height: 86px;
  width: 250px;
  margin: 5px 0 20px 5px; }

#logo span {
  width: 60%;
  float: right;
  font-size: 20pt;
  color: #3953a4;
  font-weight: bolder;
  line-height: 20pt;
  margin: 15px auto; }

.fix-top {
  width: 100%;
  background-color: #fff;
  box-shadow: 12px 0px 10px 1px #000000;
  height: 5px;
  position: fixed; }

.bunner1 {
  background: url(../img/bunner/fon1.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 700px;
  background-attachment: fixed; }

.wave {
  position: relative;
  top: -74px; }

.wave svg {
  width: 100%; }

.st0 {
  fill: #FFFFFF; }

.matrix-block, .game-block, .yoga-block, .shop-block {
  background-color: #fff;
  position: relative; }

#left-block, .fix-top {
  z-index: 999; }

.game-block span {
  padding-top: 25px; }

.block-header, .matrix-block span, .game-block span, .yoga-block span, .aboutus-block span, .shop-block span {
  font-size: 20pt;
  margin-bottom: 20px;
  display: block;
  text-align: center; }

.matrix-block span {
  color: #FF0000;
  margin-top: -65px; }

.mtx-header span {
  color: #FF0000; }

.mtx-header {
  float: right;
  position: absolute;
  top: 30px;
  right: 30px; }

.mtx-header .matrix-path {
  margin: 11px auto;
  background-size: 100%;
  width: 300px; }

.game-block span {
  color: #FF7F00; }

.yoga-block span {
  color: #F6EC13; }

.aboutus-block span {
  color: #68bd45; }

.shop-block span {
  color: #3a53a4; }

.matrix-block p, .game-block p, .yoga-block p, .shop-block p {
  margin: 0 5% 23px;
  text-align: center;
  font-family: "HelveticaNeueCyr"; }

.btn-primary {
  color: #333333;
  background-color: #fff;
  border-color: #e1e1e1;
  margin: 28px 38%;
  display: block;
  border-radius: 0px; }

.bgc-btn, .btn-matrix:hover, .btn-game:hover, .btn-matrix:focus, .btn-game:focus, .btn-yoga:hover, .btn-yoga:focus, .btn-shop:hover, .btn-shop:focus {
  background-color: #fff; }

.outline-btn, .btn-matrix:focus, .btn-game:focus, .btn-yoga:focus, .btn-shop:focus {
  outline: none; }

.btn-matrix:hover {
  color: #FF0000;
  border-color: #FF0000; }

.btn-game:hover {
  color: #FF7F00;
  border-color: #FF7F00; }

.btn-matrix:focus {
  color: #FF0000;
  border-color: #FF0000; }

.btn-game:focus {
  color: #FF7F00;
  border-color: #FF7F00; }

.btn-yoga:hover {
  color: #F6EC13;
  border-color: #F6EC13; }

.btn-yoga:focus {
  color: #F6EC13;
  border-color: #F6EC13; }

.btn-shop:hover {
  color: #3a53a4;
  border-color: #3a53a4; }

.btn-shop:focus {
  color: #3a53a4;
  border-color: #3a53a4; }

.matrix-road {
  background: url(../img/matrix.png) 0 -154px no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 80%;
  height: 512px;
  margin: 0 auto; }

.matrix-path, .matrix-path-trg {
  background: url(../img/matrix-path.png) 50% no-repeat;
  -webkit-background-size: 90%;
  background-size: 90%;
  width: 90%;
  height: 20px;
  margin: 32px auto 0; }

.game-block {
  box-shadow: 0px 11px 6px -7px #231F1F; }

.game {
  background: url(../img/game.png) 50% no-repeat;
  -webkit-background-size: 90%;
  background-size: 90%;
  width: 100%;
  height: 283px;
  margin: -35px auto; }

.game-path {
  background: url(../img/game-path.png) 50% 9% no-repeat;
  -webkit-background-size: 90%;
  background-size: 90%;
  width: 100%;
  height: 190px;
  margin: -87px auto; }

/*.wave2 {
	position: relative;
	top: -90px;
	z-index: 1
}*/
.bunner2 {
  width: 100%;
  background: url(../img/bunner/fon2.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 800px;
  background-attachment: fixed; }

.wave3 {
  position: relative;
  top: -75px; }

.wave4 {
  position: relative;
  top: 44px;
  left: 1px; }

.yoga-block span {
  margin-top: -60px; }

.yoga-path {
  background: url(../img/yoga-path.png) 50% 50% no-repeat;
  width: 100%;
  height: 54px;
  -webkit-background-size: 90%;
  background-size: 90%;
  margin: 0 auto; }

.youtube-video {
  text-align: center; }

.bunner3 {
  width: 100%;
  background: url(../img/bunner/fon3.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 750px;
  background-attachment: fixed; }

.aboutus-block {
  width: 100%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 32%; }

.aboutus-block p {
  font-family: "HelveticaNeueCyr";
  font-size: 16pt;
  font-style: italic;
  text-align: center;
  margin: 0 10%; }

.aboutus-block span {
  padding-top: 15px; }

.greenleft {
  background: url(../img/greenleft-abus.png) 50% no-repeat;
  height: 88%;
  width: 5%;
  position: absolute;
  top: 16px;
  background-size: contain;
  left: 21px; }

.greenright {
  background: url(../img/greenright-abus.png) 50% no-repeat;
  height: 88%;
  width: 5%;
  background-size: contain;
  right: 21px;
  position: absolute;
  top: 16px; }

.shop-block {
  box-shadow: -11px -18px 7px -15px #231F1F; }

.shop-block span {
  margin-bottom: 0px;
  line-height: 50pt; }

.carousel {
  height: 250px;
  margin: 0 2%;
  background-color: #fff;
  /*box-shadow: 0px 7px 14px -10px $color-shop;*/ }

.carousel-control .icon-prev::before {
  content: url(../img/left-arrow.png); }

.carousel-control .icon-next::before {
  content: url(../img/right-arrow.png); }

.carousel-item div {
  width: calc(25% - 4px);
  margin: 2px;
  float: left;
  height: 246px; }

.carousel-control.left {
  width: 10%; }

.carousel-control.right {
  width: 11%; }

#product1 {
  background: url(../img/shop/product1.jpg) no-repeat;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  background-color: #fff;
  -webkit-background-size: contain;
  background-size: contain; }

#product2 {
  background: url(../img/shop/product2.jpg) 50% 50% #fff no-repeat;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  background-color: #fff;
  -webkit-background-size: contain;
  background-size: contain; }

#product3 {
  background: url(../img/shop/product3.jpg) 50% 50% #fff no-repeat;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  background-color: #fff;
  -webkit-background-size: contain;
  background-size: contain; }

#product4 {
  background: url(../img/shop/product4.jpg) 50% 50% #fff no-repeat;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  background-color: #fff;
  -webkit-background-size: contain;
  background-size: contain; }

.shop-path {
  background: url(../img/shop-path.png) 50% no-repeat;
  -webkit-background-size: 34%;
  background-size: 34%;
  width: 100%;
  height: 20px;
  margin: -20px auto 28px; }

footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -55px; }

small {
  line-height: 50pt;
  font-family: "Segoe Print"; }

.calendar {
  margin: 16px 4%; }

.hidden-animation {
  opacity: 0; }

.visible-animation {
  opacity: 1; }

#load {
  display: none;
  position: absolute;
  left: 50%;
  top: 50px;
  background: url(../img/loader.gif);
  width: 50px;
  height: 50px;
  text-indent: -9999em; }

#fix-nav {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  list-style: none;
  z-index: 9999; }

#fix-nav li {
  width: 10px; }

#fix-nav li a {
  display: block;
  margin-left: -200px;
  width: 210px;
  color: #fff;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 28pt;
  text-align: center; }
  #fix-nav li a:hover {
    text-decoration: none; }

#fix-nav li:nth-child(2) a {
  line-height: 15pt !important; }

#fix-nav li:nth-child(1), #fix-nav li:nth-child(1) a {
  background-color: #FF0000; }

#fix-nav li:nth-child(2), #fix-nav li:nth-child(2) a {
  background-color: #FF7F00; }

#fix-nav li:nth-child(3), #fix-nav li:nth-child(3) a {
  background-color: #F6EC13; }

#fix-nav li:nth-child(4), #fix-nav li:nth-child(4) a {
  background-color: #68bd45; }

#fix-nav li:nth-child(5), #fix-nav li:nth-child(5) a {
  background-color: #3a53a4; }

#fix-nav li:nth-child(6), #fix-nav li:nth-child(6) a {
  background-color: #4B0082; }

.matrix-tab {
  width: 90%;
  margin: 0 auto; }

.mtx-item {
  border-bottom: none;
  line-height: normal !important;
  margin: 0;
  width: calc(100%/3.017); }

.mtx-link:hover {
  color: #FF0000 !important; }

.nav-tabs {
  border-bottom: 1px solid #FF0000; }

.nav-tabs .mtx-item.open .mtx-link:focus,
.nav-tabs .mtx-item.open .mtx-link:hover,
.nav-tabs .mtx-link.active,
.nav-tabs .mtx-link.active:focus,
.nav-tabs .mtx-link.active:hover,
.nav-tabs .mtx-item:hover
.nav-tabs .mtx-link.active {
  color: #FF0000;
  border-color: #FF0000 #FF0000 transparent; }

.nav-tabs .mtx-link {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px; }

.fon-trg:nth-child(2) {
  background: url(../img/bunner/fon-mtx1.jpg) no-repeat;
  opacity: .3;
  width: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 500px; }

.fon-trg:nth-child(3) {
  background: url(../img/bunner/fon-mtx2.jpg) no-repeat;
  opacity: .3;
  width: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 500px; }

.fon-trg:nth-child(4) {
  background: url(../img/bunner/fon-mtx3.jpg) no-repeat;
  opacity: .3;
  width: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 500px; }

.matrix-path-trg {
  width: 50%;
  -moz-transform: rotate(180deg);
  /* ╨Ф╨╗╤П Firefox */
  -webkit-transform: rotate(180deg);
  /* ╨Ф╨╗╤П Safari, Chrome, iOS */
  transform: rotate(180deg);
  margin: -16px auto 12px; }

.stickers span {
  font-family: "HelveticaNeueCyr";
  text-align: center;
  margin: 10px auto 10px;
  display: block; }

.stickers div {
  position: absolute;
  margin: 20px;
  padding: 10px 5px;
  background: #fff;
  z-index: 1;
  width: 30%;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset; }

.stickers div:nth-child(3) {
  top: 11%;
  right: 10%;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg); }

.stickers div:nth-child(4) {
  top: 36%;
  left: 6%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.stickers div:nth-child(5) {
  top: 33%;
  right: 22%;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg); }

.stickers div:nth-child(6) {
  bottom: 7%;
  left: 7%;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg); }

.stickers div:nth-child(7) {
  bottom: 34%;
  right: 6%;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg); }

.stickers div:nth-child(8) {
  bottom: 29%;
  left: 8%;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg); }

.stickers div:nth-child(9) {
  bottom: 10%;
  right: 10%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.stickers div:nth-child(10) {
  bottom: 115px;
  left: 50%; }

.stickers div h6 {
  color: #FF0000 !important;
  text-align: center; }

.stickers div p {
  font-size: 10pt; }

.modal-content {
  background-color: #3953a4;
  border-radius: 0;
  border: 1px solid #fff; }

.mtx-input {
  width: 100%; }

.mtx-input input {
  margin-top: 12px; }

.mtx-btn {
  margin: 10px auto;
  width: 100%; }

.mtx-btn button {
  margin: 6px auto; }
  .mtx-btn button:hover {
    color: #3953a4;
    background: #fff; }
  .mtx-btn button:focus {
    color: #3953a4;
    background: #fff; }

#blocks-carousel {
  width: 65%;
  margin: 20px auto;
  height: 493px; }

#blocks-carousel .carousel-control {
  background-image: -webkit-linear-gradient(left, transparent 0%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0%, transparent 100%);
  background-image: linear-gradient(to right, transparent 0%, transparent 100%);
  background-repeat: repeat-x; }

#collapseOne p, #collapseTwo p, #collapseThree p {
  text-align: center;
  font-family: "HelveticaNeueCyr";
  margin: 0 15%; }

.panel-heading {
  text-align: center;
  margin-top: 15px; }

.panel-heading h4 a:hover,
.panel-heading h4 a:active,
.panel-heading h4 a:focus {
  color: #FF0000;
  text-decoration: none; }

.panel-heading h4 {
  font-size: 14pt; }

/*# sourceMappingURL=style.css.map */
