$color-matrix: #FF0000;
$color-games: #FF7F00;
$color-yoga: #F6EC13;
$color-aboutus: #68bd45;
$color-shop: #3a53a4;
$color-calendar: #4B0082;
$color-other: #9400D3;
$color-white: #fff;
$color-text: #333333;
$color-logo: #3953a4;

$font-decor: 'Segoe Print';
$font-main: 'HelveticaNeueCyr';
body {
	margin: 0 auto;
	position: relative;
}
* {
	color: $color-text;
	font-family: $font-decor;
}
a {
	color: $color-text;
}
#left-block {
	width: 20%;
	background-color: $color-white;
	float: left;
	position: fixed;
    height: 100%;
    box-shadow: 0px 0px 10px 1px #000000;
}
#content {
	width: 80%;
	float: right;
	background-color: $color-white;
	min-height: 1000px;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	margin: 0 auto;
}
.clean {
	clear: both;
}
.nav {
	text-align: center;	
}
.nav-item:not(:nth-child(2)) {
	min-height: 40px;
	line-height: 237%;
}
.nav-item {
	border-bottom: 1px solid;
	margin: 0 14%;
}
.nav-link:focus {
	outline: none;
}
.nav .nav-item:nth-child(1):hover .nav-link {
	color: $color-matrix;
}
.nav .nav-item:nth-child(2):hover .nav-link {
	color: $color-games;
}
.nav .nav-item:nth-child(3):hover .nav-link {
	color: $color-yoga;
}
.nav .nav-item:nth-child(4):hover .nav-link {
	color: $color-aboutus;
}
.nav .nav-item:nth-child(5):hover .nav-link {
	color: $color-shop;
}
.nav .nav-item:nth-child(6):hover .nav-link {
	color: $color-calendar;
}
.nav-item:nth-child(1) {
	border-bottom-color: $color-matrix;
}
.nav-item:nth-child(2)  {
	border-bottom-color: $color-games;
}
.nav-item:nth-child(3) {
	border-bottom-color: $color-yoga;
}
.nav-item:nth-child(4) {
	border-bottom-color: $color-aboutus;
}
.nav-item:nth-child(5) {
	border-bottom-color: $color-shop;
}
.nav-item:nth-child(6) {
	border-bottom-color: $color-calendar;
}
#logo {
	background: url(../img/logo.png) no-repeat;
	-webkit-background-size: 34%;
	background-size: 34%;
	height: 86px;
	width: 250px;
	margin: 5px 0 20px 5px;
}
#logo span {
	width: 60%;
	float: right;
	font-size: 20pt;
	color: $color-logo;
	font-weight: bolder;
	line-height: 20pt;
	margin: 15px auto;
}
.fix-top {
	width: 100%;
	background-color: $color-white;
	box-shadow: 12px 0px 10px 1px #000000;
	height: 5px;
	position: fixed;
}
.bunner1 {
	background: url(../img/bunner/fon1.png) 50% 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 700px;
	background-attachment: fixed;

}
.wave {
	position: relative;
	top: -74px;
}
.wave svg {
	width: 100%;
}
.st0 {
	fill:#FFFFFF;
}
.matrix-block, .game-block, .yoga-block, .shop-block {
	background-color: $color-white;
	position: relative;
}
#left-block, .fix-top {
	z-index: 999;
}
.game-block span {
	padding-top: 25px;
}
.block-header {
	font-size: 20pt;
	margin-bottom: 20px;
	display: block;
	text-align: center;
	
}
.matrix-block span  {
	@extend .block-header;
	color: $color-matrix;
	margin-top: -65px;
}
.mtx-header span {
	color: $color-matrix;
}
.mtx-header {
	float: right;
	position: absolute;
	top: 30px;
	right: 30px;
}
.mtx-header .matrix-path {
	margin: 11px auto;
	background-size: 100%;
	width: 300px;
}
.game-block span {
	@extend .block-header;
	color: $color-games;
}
.yoga-block span {
	@extend .block-header;
	color: $color-yoga;
}
.aboutus-block span {
	@extend .block-header;
	color: $color-aboutus;
}
.shop-block span {
	@extend .block-header;
	color: $color-shop;
}
.matrix-block p, .game-block p, .yoga-block p, .shop-block p  {
	margin: 0 5% 23px;
	text-align: center;
	font-family: $font-main;
}
.btn-primary {
	color: $color-text;
	background-color: $color-white;
	border-color: #e1e1e1;
	margin: 28px 38%;
	display: block;
	border-radius: 0px;
}
.bgc-btn {
	background-color: $color-white;
}
.outline-btn {
	outline: none;
}
.btn-matrix:hover {
	color:$color-matrix;
	border-color: $color-matrix;
	@extend .bgc-btn;
}
.btn-game:hover {
	color:$color-games;
	border-color: $color-games;
	@extend .bgc-btn;
}		
.btn-matrix:focus {
	color:$color-matrix;
	border-color: $color-matrix;
	@extend .bgc-btn;
	@extend .outline-btn;
}
.btn-game:focus {
	color:$color-games;
	border-color: $color-games;
	@extend .bgc-btn;
	@extend .outline-btn;
}
.btn-yoga:hover {
	color:$color-yoga;
	border-color: $color-yoga;
	@extend .bgc-btn;
}	
.btn-yoga:focus {
	color:$color-yoga;
	border-color: $color-yoga;
	@extend .bgc-btn;
	@extend .outline-btn;
}
.btn-shop:hover {
	color:$color-shop;
	border-color: $color-shop;
	@extend .bgc-btn;
}	
.btn-shop:focus {
	color:$color-shop;
	border-color: $color-shop;
	@extend .bgc-btn;
	@extend .outline-btn;
}
.matrix-road {
	background: url(../img/matrix.png) 0 -154px no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 80%;
	height: 512px;
	margin: 0 auto;
}
.matrix-path, .matrix-path-trg {
	background: url(../img/matrix-path.png) 50% no-repeat;
	-webkit-background-size: 90%;
	background-size: 90%;
	width: 90%;
	height: 20px;
	margin: 32px auto 0;
}
.game-block {
	box-shadow: 0px 11px 6px -7px #231F1F;
}
.game {
	background: url(../img/game.png) 50% no-repeat;
	-webkit-background-size: 90%;
	background-size: 90%;
	width: 100%;
	height: 283px;
	margin: -35px auto;
}
.game-path {
	background: url(../img/game-path.png) 50% 9% no-repeat;
	-webkit-background-size: 90%;
	background-size: 90%;
	width: 100%;
	height: 190px;
	margin: -87px auto;
	
}
/*.wave2 {
	position: relative;
	top: -90px;
	z-index: 1
}*/
.bunner2 {
	width: 100%;
	background: url(../img/bunner/fon2.png) 50% 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 800px;
	background-attachment: fixed;
}
.wave3 {
	position: relative;
	top: -75px;
}
.wave4 {
	position: relative;
	top: 44px;
	left: 1px;
}
.yoga-block span {
	margin-top: -60px;
}
.yoga-path {
	background: url(../img/yoga-path.png)  50% 50% no-repeat;
	width: 100%;
	height: 54px;
	-webkit-background-size: 90%;
	background-size: 90%;
	margin: 0 auto;
}
.youtube-video {
	text-align: center;
}
.bunner3 {
	width: 100%;
	background: url(../img/bunner/fon3.png) 50% 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 750px;
	background-attachment: fixed;
}
.aboutus-block {
	width: 100%;
	height: 300px;
	background-color: rgba(255,255,255, .8);
	position: relative;
	top: 32%;
}
.aboutus-block p {
	font-family: $font-main;
	font-size: 16pt;
	font-style: italic;
	text-align: center;
	margin: 0 10%;
}
.aboutus-block span {
	padding-top: 15px;
}
.greenleft {
	background: url(../img/greenleft-abus.png) 50% no-repeat;
	height: 88%;
	width: 5%;
	position: absolute;
	top: 16px;
	background-size: contain;
	left: 21px;
}
.greenright {
	background: url(../img/greenright-abus.png) 50% no-repeat;
	height: 88%;
	width: 5%;
	background-size: contain;
	right: 21px;
	position: absolute;
	top: 16px;
}
.shop-block {
	box-shadow: -11px -18px 7px -15px #231F1F;
}
.shop-block span {
	margin-bottom: 0px;
	line-height: 50pt;
}
.carousel {
	height: 250px;
	margin: 0 2%;
	background-color: $color-white;
	/*box-shadow: 0px 7px 14px -10px $color-shop;*/
}
.carousel-control .icon-prev::before {
	content: url(../img/left-arrow.png);
}
.carousel-control .icon-next::before {
	content: url(../img/right-arrow.png);
}
.carousel-item div {
	width: calc(25% - 4px);
	margin: 2px;
	float: left;
	height: 246px;
}
.carousel-control.left {
    width: 10%;
}
.carousel-control.right {
    width: 11%;
    }
#product1 {
	background: url(../img/shop/product1.jpg) no-repeat;
	-ms-background-position-x: 50%;
	background-position-x: 50%;
	-ms-background-position-y: 50%;
	background-position-y: 50%;
	background-color: $color-white;
	-webkit-background-size: contain;
	background-size: contain;
}
#product2 {
	background: url(../img/shop/product2.jpg) 50% 50% $color-white no-repeat;
	-ms-background-position-x: 50%;
	background-position-x: 50%;
	-ms-background-position-y: 50%;
	background-position-y: 50%;
	background-color: $color-white;
	-webkit-background-size: contain;
	background-size: contain;
}
#product3 {
	background: url(../img/shop/product3.jpg) 50% 50% $color-white no-repeat;
	-ms-background-position-x: 50%;
	background-position-x: 50%;
	-ms-background-position-y: 50%;
	background-position-y: 50%;
	background-color: $color-white;
	-webkit-background-size: contain;
	background-size: contain;
}
#product4 {
	background: url(../img/shop/product4.jpg) 50% 50% $color-white no-repeat;
	-ms-background-position-x: 50%;
	background-position-x: 50%;
	-ms-background-position-y: 50%;
	background-position-y: 50%;
	background-color: $color-white;
	-webkit-background-size: contain;
	background-size: contain;
}
.shop-path {
	background: url(../img/shop-path.png) 50% no-repeat;
	-webkit-background-size: 34%;
	background-size: 34%;
	width: 100%;
	height: 20px;
	margin: -20px auto 28px;
}
footer {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: -55px;
}
small {
	line-height: 50pt;
	font-family: $font-decor;
}
.calendar {
	margin: 16px 4%;
}
.hidden-animation {
	opacity:0;
}
.visible-animation {
	opacity:1;
}
#load {
	display: none;
	position: absolute;
	left: 50%;
	top: 50px;
	background: url(../img/loader.gif);
	width: 50px;
	height: 50px;
	text-indent: -9999em;
}
#fix-nav {
	position: fixed;
	margin: 0;
	padding: 0;
	left: 0;
	list-style: none;
	z-index: 9999; 
}
#fix-nav li {
	width: 10px;
	
}
#fix-nav li a {
	display: block;
	margin-left: -200px;
	width: 210px;
	color: $color-white;
	height: 40px;
	background-repeat:no-repeat;
	background-position:center center;
	line-height: 28pt;
	text-align: center;
	&:hover {
		text-decoration: none;
	}
}
#fix-nav li:nth-child(2) a {
	line-height: 15pt !important;
}
#fix-nav li:nth-child(1), #fix-nav li:nth-child(1) a {
	background-color: $color-matrix;
}
#fix-nav li:nth-child(2), #fix-nav li:nth-child(2) a {
	background-color: $color-games;
}
#fix-nav li:nth-child(3), #fix-nav li:nth-child(3) a {
	background-color: $color-yoga;
}
#fix-nav li:nth-child(4), #fix-nav li:nth-child(4) a {
	background-color: $color-aboutus;
}
#fix-nav li:nth-child(5), #fix-nav li:nth-child(5) a {
	background-color: $color-shop;
}
#fix-nav li:nth-child(6), #fix-nav li:nth-child(6) a {
	background-color: $color-calendar;
}
.matrix-tab {
	width: 90%;
	margin: 0 auto;
}
.mtx-item {
	border-bottom: none;
	line-height: normal !important;
	margin: 0;
	width: calc(100%/3.017);
}
.mtx-link:hover {
	color: $color-matrix !important;
}
.nav-tabs {
	border-bottom: 1px solid $color-matrix;
}
.nav-tabs .mtx-item.open .mtx-link:focus,
.nav-tabs .mtx-item.open .mtx-link:hover,
.nav-tabs .mtx-link.active,
.nav-tabs .mtx-link.active:focus,
.nav-tabs .mtx-link.active:hover, 
.nav-tabs .mtx-item:hover
.nav-tabs .mtx-link.active {
	color: $color-matrix;
	border-color: $color-matrix $color-matrix transparent;
}
.nav-tabs .mtx-link {
	border-top-right-radius: 32px;
	border-top-left-radius: 32px;
}
.fon-trg:nth-child(2) {
	background: url(../img/bunner/fon-mtx1.jpg) no-repeat;
	opacity: .3;
	width: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 500px;
}
.fon-trg:nth-child(3) {
	background: url(../img/bunner/fon-mtx2.jpg) no-repeat;
	opacity: .3;
	width: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 500px;
}
.fon-trg:nth-child(4) {
	background: url(../img/bunner/fon-mtx3.jpg) no-repeat;
	opacity: .3;
	width: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 500px;
}
.matrix-path-trg {
	width: 50%;
	-moz-transform: rotate(180deg); /* Для Firefox */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    transform: rotate(180deg); 
    margin: -16px auto 12px;
}
.stickers span {
	font-family: "HelveticaNeueCyr";
	text-align: center;
	margin: 10px auto 10px;
	display: block;
}
.stickers div {
	position: absolute;
	margin: 20px;
	padding: 10px 5px;
	background: $color-white;
	z-index: 1;
	width: 30%;
	-webkit-transform:rotate(-2deg);
       -moz-transform:rotate(-2deg);
        -ms-transform:rotate(-2deg);
         -o-transform:rotate(-2deg);
            transform:rotate(-2deg);
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;;
       -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;;
            box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;;
}
.stickers div:nth-child(3) {
	top: 11%;
	right: 10%;
	-webkit-transform:rotate(1deg);
       -moz-transform:rotate(1deg);
        -ms-transform:rotate(1deg);
         -o-transform:rotate(1deg);
            transform:rotate(1deg);
}
.stickers div:nth-child(4) {
	top: 36%;
	left: 6%;
	-webkit-transform:rotate(0deg);
       -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
         -o-transform:rotate(0deg);
            transform:rotate(0deg);
}
.stickers div:nth-child(5) {
	top: 33%;
	right: 22%;
	-webkit-transform:rotate(-1deg);
       -moz-transform:rotate(-1deg);
        -ms-transform:rotate(-1deg);
         -o-transform:rotate(-1deg);
            transform:rotate(-1deg);
}
.stickers div:nth-child(6) {
	bottom: 7%;
	left: 7%;
	-webkit-transform:rotate(-2deg);
       -moz-transform:rotate(-2deg);
        -ms-transform:rotate(-2deg);
         -o-transform:rotate(-2deg);
            transform:rotate(-2deg);
}
.stickers div:nth-child(7) {
	bottom: 34%;
	right: 6%;
	-webkit-transform:rotate(1deg);
       -moz-transform:rotate(1deg);
        -ms-transform:rotate(1deg);
         -o-transform:rotate(1deg);
            transform:rotate(1deg);
}
.stickers div:nth-child(8) {
	bottom: 29%;
	left: 8%;
	-webkit-transform:rotate(1deg);
       -moz-transform:rotate(1deg);
        -ms-transform:rotate(1deg);
         -o-transform:rotate(1deg);
            transform:rotate(1deg);
}
.stickers div:nth-child(9) {
	bottom: 10%;
	right: 10%;
	-webkit-transform:rotate(0deg);
       -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
         -o-transform:rotate(0deg);
            transform:rotate(0deg);
}
.stickers div:nth-child(10) {
	bottom: 115px;
	left: 50%;
}
.stickers div h6 {
	color: $color-matrix !important;
	text-align: center;
}
.stickers div p {
	font-size: 10pt;
}
.modal-content {
	background-color: $color-logo;
	border-radius: 0;
	border: 1px solid $color-white;

}
.mtx-input {
	width: 100%;
}
.mtx-input input {
	margin-top: 12px;
}
.mtx-btn {
	margin: 10px auto;
	width: 100%;
}
.mtx-btn button {
	margin: 6px auto;
	&:hover {
		color: $color-logo;
		background: $color-white;
	}
	&:focus {
		color: $color-logo;
		background: $color-white;
	}
}
#blocks-carousel {
	width: 65%;
	margin: 20px auto;
	height: 493px;
}
#blocks-carousel .carousel-control {
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
	background-image: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
	background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
	background-repeat: repeat-x;
}
#collapseOne p, #collapseTwo p, #collapseThree p {
	text-align: center;
	font-family: $font-main;
	margin: 0 15%;
}
.panel-heading {
	text-align: center;
	margin-top: 15px;
}
.panel-heading h4 a:hover,
.panel-heading h4 a:active,
.panel-heading h4 a:focus {
	color:$color-matrix;
	text-decoration: none;
}
.panel-heading h4 {
	font-size: 14pt;
}
#trips span {

}